@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#0d1b2a] text-[#e0e1dd];
  font-family: "Inter", sans-serif;
}


.custom-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
.custom-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}